.playlistInfo{
  display: flex;
  .playlistCoverimg{
    width: 217px;
    height: 177px;
    overflow: hidden;
    position: relative;
    img{
      width: 177px;
      height: 177px;
    }
    background: url(../../images/coverall.png) no-repeat 0 -986px;
    .cloak {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 209px;
      height: 177px;
      background: url(../../images/coverall.png) no-repeat 0 -986px;
    }
  }
  .albumInfo{
    font-size: 12px;
    flex: 1;
    margin-left: 10px;
    p{
      color: #666;
    }
    .icon{
      display: inline-block;
      width: 54px;
      height: 24px;
      background: url(../../images/icon.png) no-repeat 0 -186px;
      vertical-align: middle;
      margin-right: 10px;
      position: relative;
      top: -2px;
    }
    .artists{
      margin-top: 10px;
      font-size: 12px;
      a{
        color: #0c73c2;
      }
    }
    .publishTime{
      margin-top: 6px;
    }
    .company{
      margin-top: 6px;
    }
  }
}
.iconGroup{
  overflow: hidden;
  margin-top: 20px;
  a:hover{
    text-decoration: none;
  }
  .play{
    width: 66px;
    height: 31px;
    float: left;
    i{
      display: block;
      width: 100%;
      height: 100%;
      background: url(../../images/button2.png) no-repeat 0 -387px;
      z-index: 999;
      line-height: 31px;
      color: #fff;
      font-size: 12px;
      font-style: normal;
      padding-left: 10px;
      &:hover{
        background-position: 0 -469px;
        em{
          background-position: -28px -1622px;
        }
      }
      em{
        display: inline-block;
        width: 20px;
        height: 18px;
        background-color: #f00;
        position: relative;
        top: 4px;
        background: url(../../images/button2.png) no-repeat 0 -1622px;
      }
    }
  }
  .addPlaylist{
    float: left;
    width: 31px;
    height: 31px;
    background: url(../../images/button2.png) no-repeat 0 -1588px;
    &:hover{
      background-position: -40px -1588px;
    }
  }
  .collect, .transmit, .download, .comment{
    float: left;
    margin-left: 5px;
    height: 31px;
    background: url(../../images/button2.png) no-repeat right -1020px;
    padding-right: 2px;
    color: #333;
    &:hover{
      background-position: right -1106px;
      i{
        background-position: 0 -1063px;
      }
    }
    i{
      display: inline-block;
      width: 100%;
      height: 31px;
      background: url(../../images/button2.png) no-repeat 0 -977px;
      font-size: 12px;
      padding-right: 2px;
      line-height: 31px;
      text-indent: 2.4em;
      font-style: normal;
    }
  }
  .transmit{
    max-width: 120px;
    i{
      background-position: 0 -1225px;
    }
    &:hover{
      i{
        background-position: 0 -1268px;
      }
    }
  }
  .download{
    width: 60px;
    i{
      background-position: 0 -2761px;
    }
    &:hover{
      i{
        background-position: 0 -2805px;
      }
    }
  }
  .comment{
    max-width: 120px;
    i{
      background-position: 0 -1465px;
    }
    &:hover{
      i{
        background-position: 0 -1508px;
      }
    }
  }
}
.songlist{
  table tr td:nth-child(5){
    width: 0;
  }
  table tr td:nth-child(2){
    max-width: inherit;
  }
  table tr td:nth-child(4){
    width: 127px;
  }
}
 