.container{
  width: 982px;
  margin: 0 auto;
  border-left: 1px solid #d3d3d3;
  border-right: 1px solid #d3d3d3;
  display: flex;
  overflow: hidden;
  .left_container{
    width: 180px;
    background-color: #f5f5f5;
    border-right: 1px solid #d3d3d3;
    padding: 30px 10px 0;
    div ul{
      border-bottom: 1px solid #d3d3d3;
      padding-bottom: 8px;
    }
    div:last-child ul{
      border: 0;
    }
    h2{
      font-size: 18px;
      font-weight: 600;
      text-indent: 0.5em;
      padding-top: 10px;
    }
    ul li{
      padding-left: 29px;
      color: #333;
      font-size: 12px;
      line-height: 29px;
      background: url(../../images/singer.png) no-repeat 0 -30px;
      cursor: pointer;
    }
    ul li.active{
      background-position: 0 0;
    }
  }
  .right_container{
    flex: 1;
    background-color: white;
    padding: 40px;
  }
}