.coverInfoTitle{
  padding: 15px 0 0 20px;
  .coverImg{
    vertical-align: middle;
    display: inline-block;
    width: 73px;
    height: 24px;
    background: url(../../images/icon2.png) no-repeat 0 -75px;
    margin-right: 8px;
  }
  h2{
    height: 24px;
    line-height: 24px;
    > span{
      position: relative;
      top: 2px;
    }
    margin-bottom: 25px;
  }
  .radioName{
    > i{
      width: 16px;
      height: 17px;
      display: inline-block;
      background: url(../../images/icon2.png) no-repeat -50px -20px;
      vertical-align: middle;
    }
    a{
      position: relative;
      top: 2px;
      font-size: 16px;
      line-height: 17px;
      color: #666;
      margin-right: 17px;
    }
    .subscription{
      display: inline-block;
      width: 110px;
      min-width: 85px;
      height: 28px;
      line-height: 28px;
      background: url(../../images/button2.png) no-repeat right -2400px;
      font-size: 12px;
      &:hover{
        background-position:  right -2470px;
        i{
          background-position: 0 -2440px;
        }
      }
      i{
        display: inline-block;
        padding: 0 10px;
        background: url(../../images/button2.png) no-repeat 0 -2370px;
        font-style: normal;
        em{
          display: inline-block;
          width: 14px;
          height: 14px;
          vertical-align: middle;
          background: url(../../images/icon2.png) no-repeat -50px 0;
          position: relative;
          top: -2px;
          margin-right: 5px;
        }
      }
    }
  }
}
.djInfo{
  .iconGroup{
    overflow: hidden;
    width: 100%;
    margin-bottom: 25px;
    a{
      float: left;
      background: url(../../images/button2.png) no-repeat 0 0;
      margin-right: 10px;
      &:hover{
        text-decoration: none;
      }
      i{
        display: block;
        background: url(../../images/button2.png) no-repeat 0 0;
        font-style: normal;
        line-height: 31px;
        height: 31px;
        font-size: 12px;
      }
    }
    .playIcon{
      width: 126px;
      height: 31px;
      background-position: right -676px;
      i{
        margin-right: 5px;
        background-position: 0 -633px;
        color: white;
        text-indent: 3em;
      }
      &:hover{
        background-position: right -762px;
        i{
          background-position: 0 -719px;
        }
      }
    }
    .likeCount{
      width: 71px;
      height: 31px;
      background-position: right -182px;
      &:hover{
        background-position: right -182px;
        i{
          background-position: 0 -141px;
        }
      }
      i{
        display: block;
        margin-right: 3px;
        height: 31px;
        background-position: 0 -59px;
        em{
          display: inline-block;
          width: 17px;
          height: 15px;
          background: url(../../images/button2.png) no-repeat 0 -95px;
          position: relative;
          top: 3px;
          margin-left: 10px;
          margin-right: 5px;
        }
      }
    }
    .comment{
      width: 58px;
      height: 31px;
      background-position: right -1020px;
      i{
        padding-left: 28px;
        margin-right: 4px;
        background-position: 0 -1465px;
      }
      &:hover{
        background-position: right -1106px;
        i{
          background-position: 0 -1508px;
        }
      }
    }
    .share{
      width: 58px;
      height: 31px;
      background-position: right -1020px;
      i{
        padding-left: 28px;
        margin-right: 4px;
        background-position: 0 -1225px;
      }
      &:hover{
        background-position: right -1106px;
        i{
          background-position: 0 -1268px;
        }
      }
    }
    .download{
      width: 58px;
      height: 31px;
      background-position: right -1020px;
      i{
        padding-left: 28px;
        margin-right: 4px;
        background-position: 0 -2761px;
      }
      &:hover{
        background-position: right -1106px;
        i{
          background-position: 0 -2805px;
        }
      }
    }
    .morePlay{
      color: #0c73c2;
      background: none;
      font-size: 12px;
      line-height: 31px;
      margin-left: 15px;
      &:hover{
        text-decoration: underline;
      }
      i{
        float: left;
        width: 16px;
        height: 16px;
        margin-top: 8px;
        background: url(../../images/icon.png) no-repeat -34px -863px;
      }
    }
  }
  .sub{
    font-size: 12px;
    > a{
      width: 62px;
      height: 18px;
      display: inline-block;
      border: 1px solid #cc0000;
      color: #cc0000;
      line-height: 16px;
      font-size: 12px;
      text-align: center;
      margin-right: 15px;
    }
    > strong{
      font-size: 14px;
      margin-right: 20px;
    }
    > span{
      color: #999;
      margin-right: 20px;
      > strong{
        font-size: 12px;
        color: #c20c0c;
        margin-right: 0;
        margin-left: 8px;
      }
    }
  }
}