.detail{
  width: 982px;
  margin: 0 auto;
  padding: 40px;
  display: block;
  background-color: #fff;
  border-left: 1px solid #d3d3d3;
  border-right: 1px solid #d3d3d3;
  .detailTitle{
    width: 100%;
    font-size: 24px;
    border-bottom: 2px solid #c20c0c;
    position: relative;
    padding-bottom: 4px;
  }
  .getRecommend{
    display: block;
    width: 46px;
    height: 29px;
    line-height: 29px;
    font-size: 12px;
    color: #fff;
    text-align: center;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 3px;
    background: url(../../images/button.png) no-repeat 0 0;
  }
  .allPlaylist{
    width: 100%;
    overflow: hidden;
    .allList{
      width: 100%;
      overflow: hidden;
      > div{
        float: left;
        margin-right: 50px;
        &:nth-child(5n){
          margin-right: 0;
        }
      }
      .userInfo{
        width: 140px;
        color: #999;
        font-size: 12px;
        a{
          display: inline-block;
          vertical-align: middle;
          max-width: 60%;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
        img{
          width: 13px;
          height: 13px;
          position: relative;
          top: -1px;
        }
      }
    }
  }
}