.contentStyle {
  height: 100%;
  position: relative;
  div {
    height: 100%;
  }
  img {
    width: 100%;
  }
}
.download {
  background: url('../../images/download.png') no-repeat 0 0;
  flex: 1;
  position: relative;
  cursor: pointer;
}
.terminal {
  color: #8d8d8d;
  position: absolute;
  bottom: 20px;
  left: 0;
  font-size: 12px;
  text-align: center;
  width: 100%;
}
.arrow {
  background: url('../../images/banner.png') no-repeat 0 -360px;
  width: 37px;
  height: 63px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border: 0;
  cursor: pointer;
}
.arrow_left {
  left: -77px;
  &:hover {
    background-position: 0 -430px;
  }
}
.arrow_right {
  right: -77px;
  background-position: 0 -508px;
  &:hover {
    background-position: 0 -578px;
  }
}
.container {
  width: 982px;
  margin: 0 auto;
  display: flex;
  .container_left {
    overflow: hidden;
    width: 729px;
    border: 1px solid #d3d3d3;
    border-bottom: 0;
    border-right: 0;
    background-color: #fff;
    padding: 20px 20px 40px;
  }
  .container_right {
    flex: 1;
    border: 1px solid #d3d3d3;
    border-bottom: 0;
    background-color: #fff;
  }
}
.recommend {
  width: 100%;
  height: 33px;
  border-bottom: 2px solid #c10d0c;
  position: relative;
  line-height: 33px;
  display: flex;
  a {
    margin-left: 10px;
    font-size: 20px;
    line-height: 28px;
    text-indent: 1.5em;
    color: #333;
  }
  .more {
    width: 40px;
    height: 16px;
    display: block;
    float: right;
    margin-top: 9px;
    font-size: 12px;
    margin-right: 10px;
    line-height: 16px;
    text-indent: 0;
    color: #666;
    position: relative;
    cursor: pointer;
    &:hover{
      text-decoration: underline;
    }
    &::after {
      content: "";
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      width: 12px;
      height: 12px;
      background-color: #f00;
      background: url('../../images/index.png') no-repeat 0 -240px;
    }
  }
  &::before {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 10px;
    width: 14px;
    height: 14px;
    background: url('../../images/index.png') no-repeat -235px -164px;
  }
}
.tags {
  flex: 1;
  padding-left: 5px;
  li {
    float: left;
    margin: 0 8px;
    position: relative;
    a {
      font-size: 12px;
      color: #666;
      &:hover {
        text-decoration: underline;
      }
    }
    &::after {
      content: "";
      display: block;
      position: absolute;
      right: -40%;
      top: 11px;
      width: 1px;
      height: 12px;
      background-color: #ccc;
    }
    &:last-child::after {
      display: none;
    }
  }
}
.outbox {
  width: 100%;
}
.recommendList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  li {
    width: 140px;
  }
}
.cloak {
  display: block;
  position: absolute;
  top: 10px;
  left: 0;
  width: 140px;
  height: 140px;
  background: url('../../images/coverall.png') no-repeat 0 0;
}
.bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 27px;
  color: #ccc;
  background: url('../../images/coverall.png') no-repeat 0 -537px;
  line-height: 27px;
  span {
    font-size: 12px;
  }
}
.listenIcon {
  float: left;
  width: 20px;
  height: 11px;
  margin: 10px 0 0 7px;
  background: url('../../images/iconall.png') no-repeat 0 -24px;
}
.playIcon {
  float: right;
  margin-top: 6px;
  margin-right: 10px;
  width: 16px;
  height: 17px;
  background: url('../../images/iconall.png') no-repeat 0 0;
  cursor: pointer;
  &:hover {
    background-position: 0 -60px;
  }
}
.link {
  line-height: 20px;
  &:hover {
    text-decoration: underline;
  }
}
.djprogram {
  width: 35px;
  height: 15px;
  display: inline-block;
  background: url('../../images/icon.png') no-repeat -31px -658px;
  margin-right: 5px;
  margin-top: -4px;
  vertical-align: middle;
}
.login {
  width: 100%;
  height: 126px;
  background: url('../../images/index.png') no-repeat 0 0;
  padding: 16px 20px;
  line-height: 22px;
  font-size: 12px;
  position: relative;
  button {
    position: absolute;
    bottom: 25px;
    left: 50%;
    transform: translateX(-50%);
    width: 100px;
    height: 30px;
    line-height: 30px;
    border: 0;
    background: url('../../images/index.png') no-repeat 0 -195px;
    color: #fff;
    cursor: pointer;
    &:hover {
      background-position: -110px -195px;
    }
  }
}
.singer {
  width: 100%;
  padding: 15px 20px 0;
  overflow: hidden;
  > h3 {
    font-size: 12px;
    font-weight: bold;
    border-bottom: 1px solid #ccc;
    line-height: 24px;
    padding-bottom: 5px;
    a {
      float: right;
      font-weight: 400;
      color: #666;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  .applyFor {
    display: block;
    width: 100%;
    height: 31px;
    background-color: transparent;
    line-height: 31px;
    text-align: center;
    background: url('../../images/button2.png') no-repeat 0 -59px;
    position: relative;
    border-radius: 4px;
    font-size: 12px;
    font-weight: 600;
    &:hover {
      color: #333;
      background-position: 0 -141px;
      i {
        background-position: right -182px;
      }
    }
    i {
      width: 50%;
      height: 100%;
      position: absolute;
      right: 0;
      top: 0;
      background: url('../../images/button2.png') no-repeat right -100px;
    }
  }
}
.songerItem {
  width: 100%;
  height: 62px;
  margin: 15px 0;
  display: flex;
  background-color: #fafafa;
  cursor: pointer;
  &:hover{
    background-color: #f4f4f4;
  }
  img {
    width: 62px;
    height: 62px;
  }
  div {
    width: 149px;
    border: 1px solid #e9e9e9;
    padding-left: 10px;
    line-height: 31px;
    h3 {
      color: #333;
      font-size: 14px;
      font-weight: 600;
    }
    p {
      font-size: 12px;
      color: #666;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }
  }
}
.anchor {
  margin-top: 15px;
  .anchorItem {
    height: 40px;
    line-height: 40px;
    margin: 10px 0;
    background-color: #fff;
    img {
      display: block;
      width: 40px;
      height: 40px;
    }
    div {
      width: 170px;
      border: 0;
      line-height: 20px;
      h3 {
        font-size: 12px;
        font-weight: 400;
        color: #000;
      }
      p {
        font-size: 11px;
      }
    }
  }
}
.newalbum {
  width: 100%;
  height: 178px;
  margin-top: 20px;
  border: 1px solid #d3d3d3;
  margin-bottom: 40px;
  padding: 0 30px;
  background-color: #f5f5f5;
  position: relative;
  .leftArrow,
  .rightArrow {
    width: 17px;
    height: 17px;
    background-color: #f00;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: url('../../images/index.png') no-repeat -260px -75px;
    cursor: pointer;
    border: 0;
  }
  .leftArrow {
    left: 5px;
    &:hover {
      background-position: -280px -75px;
    }
  }
  .rightArrow {
    right: 5px;
    background-position: -300px -75px;
    &:hover {
      background-position: -320px -75px;
    }
  }
  .carouselBox {
    width: 100%;
    overflow: hidden;
    .albumItem {
      width: 118px;
      height: 150px;
      overflow: hidden;
      margin-top: 20px;
      img{
        width: 100px;
        height: 100px;
        margin-bottom: 3px;
      }
      .albumName{
        width: 106px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        font-size: 12px;
        color: #000;
      }
      .albumArtists{
        width: 106px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        font-size: 12px;
        color: #666;
      }
      .picUrl{
        background: url(../../images/coverall.png) no-repeat 0 -570px;
      }
    }
  }
}


.toplist{
  margin-top: 20px;
  width: 689px;
  height: 472px;
  background: url(../../images/index_bill.png) no-repeat 0 0;
  display: flex;
  dl{
    flex: 1;
    display: block;
    padding: 20px;
    padding-right: 15px;
    dt{
      width: 189px;
      height: 80px;
      display: flex;
      margin-bottom: 20px;
      img{
        width: 80px;
        height: 80px;
        box-shadow: 1px 1px 1px #888888;
      }
      div{
        flex: 1;
        padding-left: 10px;
        padding-top: 4px;
        h2{
          font-size: 14px;
          font-weight: bold;
        }
        .play,.collect{
          display: inline-block;
          width: 22px;
          height: 22px;
          i{
            display: block;
            width: 100%;
            height: 100%;
            background: url(../../images/index.png) no-repeat -267px -205px;
          }
        }
        .collect{
          margin-left: 10px;
          i{
            background-position: -300px -205px;
          }
        }
      }
    }
    dd{
      height: 32px;
      line-height: 32px;
      span{
        display: inline-block;
        width: 35px;
        text-align: center;
        color: #c10d0c;
      }
      &:nth-child(n+5) span{
        color: #666;
      }
      .musicName{
        vertical-align: top;
        display: inline-block;
        font-size: 12px;
        color: #000;
        width: 150px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        &:hover{
          text-decoration: underline;
        }
      }
      
      div{
        float: right;
        display: none;
        padding-top: 8px;
        .playMusic,.addToList,.collectMusic{
          float: left;
          width: 17px;
          height: 17px;
          display: block;
          background: url(../../images/index.png) no-repeat -267px -268px;
        }
        .addToList{
          margin-left: 7px;
          background: url(../../images/icon.png) no-repeat 2px -698px;
        }
        .collectMusic{
          margin-left: 7px;
          background-position: -297px -268px;
        }
      }
    }
  }
}
.router{
  position: absolute;
  top: 0;
  left: 0;
  width: 140px;
  height: 140px;
  cursor: pointer;
  z-index: 999;
}