/* 公共的样式 ui框架的样式 */
body{
  font-size: 14px;
}
.header{
  height: 70px;
  line-height: 70px;
  background-color: #242424;
  padding: 0;
  position: relative;
}
.container{
  width: 1100px;
  margin: 0 auto;
}
.ant-menu.ant-menu-dark{
  background-color: transparent;
}
.ant-menu.ant-menu-dark .ant-menu-item-selected{
  color: #fff;
  background-color: #000;
}
.ant-menu-dark.ant-menu-horizontal > .ant-menu-item:hover{
  color: #fff;
  background-color: #000;
}
.logo{
  margin: 0;
  padding: 0;
  height: 69px;
  display: inline-block;
  vertical-align: middle;
  background: url("../images/topbar.png") no-repeat 0 -3px;
}
.logo a{
  display: block;
  width: 176px;
  height: 100%;
}
.ant-menu-dark.ant-menu-horizontal{
  
  display: inline-block;
}
.ant-menu-dark.ant-menu-horizontal > .ant-menu-item{
  padding: 0 19px;
  font-size: 14px;
}
input{
  outline: none;
  border: 0;
}
a{
  text-decoration: none;
  color: #333;
}
a:hover{
  color: #333;
  text-decoration: underline;
}
ul,p,h3,dl, dt,dd, h4{
  list-style: none;
  padding: 0;
  margin: 0;
}
input:focus, button:focus{
  outline: none;
}
.cur{
  background-color: #9B0909;
  border-radius: 20px;
}
.slick-list,.slick-track,.slick-track div,.slick-track div img{
  height: 100%;
}
.ant-carousel .slick-dots{
  position: absolute;
  width: 200px;
  transform: translateX(-50%);
  left: 50%;
  margin: 0;
}
.ant-carousel .slick-dots li{
  width: 7px;
  height: 7px;
  border-radius: 100%;
  position: relative;
  margin: 0 10px;
}
.ant-carousel .slick-dots li button{
  position: absolute;
  top: 0;
  left: 0;
  width: 7px;
  height: 7px;
  border-radius: 100%;
}
.ant-carousel .slick-dots li.slick-active button{
  background-color: #AE0C0E;
}
.ant-carousel .slick-dots li button:hover{
  background-color: #AE0C0E;
}
.ant-carousel .slick-dots li.slick-active{
  width: 7px;
  height: 7px;
  border-radius: 100%;
}

.musicItem:hover .iconGroup{
  display: block;
}
.musicItem:hover .musicName{
  display: inline-block;
  vertical-align: top;
  width: 90px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* 分页 样式优化 */
.ant-pagination-item, .ant-pagination-prev, .ant-pagination-next, .ant-pagination-jump-prev, .ant-pagination-jump-next{
  min-width: 24px;
  max-height: 24px;
  line-height: 22px;
  font-size: 12px;
  padding: 0 2px;
}
.ant-pagination-item-active{
  background-color: #A2161B;
  border: 0;
}
.ant-pagination-item-active a{
  display: block;
  height: 100%;
  color: #fff;
  cursor: auto;
}
.ant-pagination-item:focus, .ant-pagination-item:hover{
  border-color: #666;
  color: #fff;
}
.ant-pagination-item:focus a, .ant-pagination-item:hover a{
  color: #fff;
  font-size: 12px;
  transition: none;
}
.ant-pagination-item:hover a{
  color: #666;
}
.ant-pagination-item:focus, .ant-pagination-item:hover{
  transition: none;
}
.ant-pagination-item-active:focus a, .ant-pagination-item-active:hover a{
  color: #fff;
  font-size: 12px;
  font-weight: 400;
}
.ant-pagination-item-active:focus a{
  background-image: linear-gradient(#be0a0d, #e1151d);
  border-radius: 3px;
}
.ant-pagination-item-active{
  background-image: linear-gradient(#be0a0d, #e1151d);
  border-radius: 3px;
}
.ant-pagination-item a{
  padding: 0;
}
.outbox .playlistInfo{
  text-overflow: normal;
  overflow: none;
  white-space: normal;
  line-height: 1.5;
}

.ant-spin{
  display: block;
  margin: 100px auto;
}

.subtitle{
  font-size: 12px;
  padding-bottom: 4px;
  font-weight: bolder;
  border-bottom: 1px solid #cfcfcf;
}